<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <meta name="description" content="A Catalog of Movies and Tv Series">
    <title>MovieFlix</title>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link rel="stylesheet" href="mystyle.css">



</head>

<link rel="icon" href="images/movieflixLogo.PNG"/>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">

    <div class="container"><!-- container-fluid stretch and adjust any items inside the container-->
        <!-- container--will line up with the rest of the elements-->
        <div class="navbar-header">
            <a href="index.html">
                <img src="images/movieflixImage.PNG" class="logoimage"></a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-container">
                <span class="sr-only">Show and Hide the navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="mynavbar-container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Catalog <span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">All </a> </li>
                        <li><a href="#">Top Rated Movies</a> </li>
                        <li><a href="#">Top Rated Series</a> </li>
                    </ul>

                </li>

                <li><a href="registration.html"><span class="glyphicon glyphicon-registration-mark"></span>  Register</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="form">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control input-sm " placeholder="Username"/>
                </div>
                <div class="input-group">
                   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                   </span>
                    <input type="password" class="form-control input-sm" placeholder="Password here">
                </div>
                <button type="submit" class="btn btn-success">Login</button>


            </form>
        </div>

    </div>

</nav>

<div class="container padding-top-10">

    <div class="jumbotron mflix">

        <h1 >
            Movie<span class="cred">Flix</span>
        </h1>
        <p>Welcome to the world of Movies</p>



        <div class="input-group col-lg-6">
            <input type="text" class="form-control" placeholder="Please enter a movie or Tv Serires"/>
            <!--  <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search"></span>
                      </span>-->
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search</button>
            </span>
        </div>


    </div>


    <div class="jumbotron myfont">

        <div class="row">
            <div class="col-xs-6">
                <div class="container ">
                    <ul class="breadcrumb">
                        <li class="active">All </li>
                        <li><a href="tmovies1.html">Top Movies</a></li>
                        <li><a href="tseries1.html">Top Series</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-xs-6 btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Sort  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Year</a> </li>
                    <li><a href="#">IMDB votes</a> </li>
                    <li><a href="#">IMDB ratings</a> </li>
                </ul>
            </div>
        </div>



        <hr/>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left">
                            <img src="http://ia.media-imdb.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@._V1_SX300.jpg" width="150" height="200">
                        </a>
                        <div class="media-body ">

                            <div class="jumbotron">
                                <h3>Inside Out<em class="padding-left-10">2015</em></h3>
                                <p>After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left "><!--Thumbnail class quickly formats the image putting some border and space around it with an hover effect-->
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjIzMDI4MTUzOV5BMl5BanBnXkFtZTcwNDY3NjA3Mg@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Inglourious Basterds
                                    <em class="padding-left-10">2009</em></h3>
                                <p>In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BODM2NzAwMjgxNF5BMl5BanBnXkFtZTcwNzYwNjkzMQ@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The X-Files
                                    <em class="padding-left-10">2002</em></h3>
                                <p>Two FBI agents, Fox Mulder the believer and Dana Scully the skeptic, investigate the strange and unexplained while hidden forces work to impede their efforts</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>


        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTYwOTEzMDMzMl5BMl5BanBnXkFtZTgwNzExODIzNzE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Game of Thrones
                                    <em class="padding-left-10">2016</em></h3>
                                <p>While a civil war brews between several noble families in Westeros, the children of the former rulers of the land attempt to rise up to power. Meanwhile a forgotten race, bent on destruction, return after thousands of years in the North.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTk1MjI1NjI0MV5BMl5BanBnXkFtZTcwODQ5MzA3Mw@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Walking Dead
                                    <em class="padding-left-10">2016</em></h3>
                                <p>Sheriff Deputy Rick Grimes leads a group of survivors in a world overrun by zombies</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjI1Mzc4MDUwNl5BMl5BanBnXkFtZTgwMDAzOTIxMjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Big Bang Theory
                                    <em class="padding-left-10"></em>2016</h3>
                                <p>A woman who moves into an apartment across the hall from two brilliant but socially awkward physicists shows them how little they know about life outside of the laboratory</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BNTA2MTE1NDI5OV5BMl5BanBnXkFtZTcwNzM2MzU3Nw@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Sherlock
                                    <em class="padding-left-10">2016</em></h3>
                                <p>A modern update finds the famous sleuth and his doctor partner solving crime in 21st century London</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Breaking Bad
                                    <em class="padding-left-10">2013</em></h3>
                                <p>A chemistry teacher diagnosed with terminal lung cancer teams up with his former student to cook and sell crystal meth</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTgzMzg3NDMxOF5BMl5BanBnXkFtZTgwNjUwMjQyNzE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Vampire Diaries
                                    <em class="padding-left-10">2015</em></h3>
                                <p>A teenage girl is torn between two vampire brothers.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTg4NzEyNzQ5OF5BMl5BanBnXkFtZTYwNTY3NDg4._V1._CR24,0,293,443_SX89_AL_.jpg_V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Friends
                                    <em class="padding-left-10">2004</em></h3>
                                <p>Follows the lives of six 20-something friends living in Manhattan.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BODQ2NjE2NDY3Ml5BMl5BanBnXkFtZTgwNjQxNzA1NTE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Orange Is the New Black
                                    <em class="padding-left-10">2015</em></h3>
                                <p>The story of Piper Chapman, a woman in her thirties who is sentenced to fifteen months in prison after being convicted of a decade-old crime of transporting money to her drug-dealing girlfriend</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTU5MjQ1MTE2Ml5BMl5BanBnXkFtZTgwMDgwMzg5NjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Modern Family
                                    <em class="padding-left-10">2015</em></h3>
                                <p>Three different, but related families face trials and tribulations in their own uniquely comedic ways</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTY2OTE5MzQ3MV5BMl5BanBnXkFtZTgwMTY2NTYxMTE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Goodfellas
                                    <em class="padding-left-10">1990</em></h3>
                                <p>Henry Hill and his friends work their way up through the mob hierarchy.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTY1NDcwMDcxN15BMl5BanBnXkFtZTgwMDI1NTQzNDE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>`House of Cards
                                    <em class="padding-left-10">2015</em></h3>
                                <p>A Congressman works with his equally conniving wife to exact revenge on the people who betrayed him</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjMyNzA0MTA3NV5BMl5BanBnXkFtZTgwMTYxMTA0NjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Narcos
                                    <em class="padding-left-10">2016</em></h3>
                                <p>A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-offset-6 pull-right" >
                <ul class="pagination pagination-sm   ">

                    <li ><a href="index.html">1</a></li>
                    <li><a href="all2.html">2</a></li>
                    <li><a href="all3.html">3</a></li>
                    <li class="active"><a href="disabled">4</a></li>
                    <li><a href="all5.html">5</a></li>
                </ul>

            </div>
        </div>

    </div>

</div>






</body>
</html>