body{
    min-height: 1000px;
    margin-top: 60px;
    background: gray;

}

@media(max-width: 768px){
    .input-group{
        margin-bottom: 5px;
    }
}

.padding-left-10{
    padding-left: 10px;
}
.padding-top-10{
    padding-top: 10px;
}

.padding-top-50{
    padding-top: 50px;
}



.logoimage{

    max-height: 42px;
    max-width: 160px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;


}

.mflix{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;


}

.cred{

    color:#FF0000 ;
}

.myfont{
    font-family: 'Titillium Web', sans-serif;
}