<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <meta name="description" content="A Catalog of Movies and Tv Series">
    <title>MovieFlix</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link rel="stylesheet" href="mystyle.css">


    <!--<link rel="stylesheet" href="mstyle.css">-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">-->
</head>
<link rel="shortcut icon" href="images/movieflixLogo.PNG"/>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">

    <div class="container"><!-- container-fluid stretch and adjust any items inside the container-->
        <!-- container--will line up with the rest of the elements-->
        <div class="navbar-header">
            <a href="index.html">
                <img src="images/movieflixImage.PNG" class="logoimage"></a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-container">
                <span class="sr-only">Show and Hide the navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="mynavbar-container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Catalog <span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">All</a> </li>
                        <li><a href="#">Top Rated Movies</a> </li>
                        <li><a href="#">Top Rated Series</a> </li>
                    </ul>

                </li>

                <li><a href="registration.html"><span class="glyphicon glyphicon-registration-mark"></span>  Register</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="form">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control input-sm " placeholder="Username"/>
                </div>
                <div class="input-group">
                   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                   </span>
                    <input type="password" class="form-control input-sm" placeholder="Password here">
                </div>
                <button type="submit" class="btn btn-success">Login</button>


            </form>
        </div>

    </div>

</nav>

<div class="container padding-top-10">



    <div class="jumbotron mflix">

        <h1 >
            Movie<span class="cred">Flix</span>
        </h1>
        <p>Welcome to the world of Movies</p>



        <div class="input-group col-lg-6">
            <input type="text" class="form-control" placeholder="Please enter a movie or Tv Serires"/>
            <!--  <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search"></span>
                      </span>-->
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search</button>
            </span>
        </div>


    </div>

    <div class="jumbotron myfont">

        <div class="row">
            <div class="col-xs-6">
                <div class="container ">
                    <ul class="breadcrumb">
                        <li class="active">All </li>
                        <li><a href="tmovies1.html">Top Movies</a></li>
                        <li><a href="tseries1.html">Top Series</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-xs-6 btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Sort  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Year</a> </li>
                    <li><a href="#">IMDB votes</a> </li>
                    <li><a href="#">IMDB ratings</a> </li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <h2>Top rated Movies</h2>
                <p>The top rated movies by imdb users</p>
            </div>



        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" alt="The Age of Ultron" width="150" height="200">
                        </a>
                        <div class="media-body ">

                            <div class="jumbotron">
                                <h3>Avengers: Age of Ultron <em class="padding-left-10">2015</em></h3>
                                <p>"Actors": "Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans"</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left "><!--Thumbnail class quickly formats the image putting some border and space around it with an hover effect-->
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Avengers
                                    <em class="padding-left-10">2012</em></h3>
                                <p>Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Shawshank Redemption
                                    <em class="padding-left-10">1994</em></h3>
                                <p>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>


        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Batman Begins
                                    <em class="padding-left-10">2005</em></h3>
                                <p>After training with his mentor, Batman begins his war on crime to free the crime-ridden Gotham City from corruption that the Scarecrow and the League of Shadows have cast upon it.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href=" ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg" class="thumbnail pull-left" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Dark Knight
                                    <em class="padding-left-10">2008</em></h3>
                                <p>When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the caped crusader must come to terms with one of the greatest psychological tests of his ability to fight injustice.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Dark Knight Rises
                                    <em class="padding-left-10">2012</em></h3>
                                <p>Eight years after the Joker's reign of anarchy, the Dark Knight, with the help of the enigmatic Selia, is forced from his imposed exile to save Gotham City, now on the edge of total annihilation, from the brutal guerrilla terrorist Bane.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjU4NDExNDM1NF5BMl5BanBnXkFtZTgwMDIyMTgxNzE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Revenant
                                    <em class="padding-left-10">2015</em></h3>
                                <p>A frontiersman on a fur trading expedition in the 1820's fights for survival after being mauled by a bear and left for dead by members of his own hunting team.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Star Wars: The Force Awakens
                                    <em class="padding-left-10">2015</em></h3>
                                <p>Three decades after the defeat of the Galactic Empire, a new threat arises. The First Order attempts to rule the galaxy and only a ragtag group of heroes can stop them, along with the help of the Resistance.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTc2MTQ3MDA1Nl5BMl5BanBnXkFtZTgwODA3OTI4NjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Martian
                                    <em class="padding-left-10">2015</em></h3>
                                <p>During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile planet. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a way to signal to Earth that he is alive.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTAzZmJiOGQtOWM3NS00MDEwLWJiNGEtN2QzMDM3NDJjMWQwXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Airlift
                                    <em class="padding-left-10">2016</em></h3>
                                <p>Airlift is an uplifting and entertaining edge-of-the-seat thriller and is the story of the biggest ever human evacuation in the history of mankind.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTUyMTE0ODcxNF5BMl5BanBnXkFtZTgwODE4NDQzNTE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Mad Max: Fury Road
                                    <em class="padding-left-10">2015</em></h3>
                                <p>A woman rebels against a tyrannical ruler in post apocalyptic Australia in search for her homeland with the help of a group of female prisoners, a psychotic worshiper, and a drifter named Max.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjM2Nzg4MzkwOF5BMl5BanBnXkFtZTgwNzA0OTE3NjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Spectre
                                    <em class="padding-left-10">2015</em></h3>
                                <p>A cryptic message from Bond's past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Godfather
                                    <em class="padding-left-10">1972</em></h3>
                                <p>The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>Interstellar
                                    <em class="padding-left-10">2014</em></h3>
                                <p>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <a href="#" class="thumbnail pull-left ">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg" width="150" height="200">
                        </a>

                        <div class="media-body">
                            <div class="jumbotron">
                                <h3>The Wolf of Wall Street
                                    <em class="padding-left-10">2013</em></h3>
                                <p>Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.</p>
                                <button class="btn btn-info pull-right">Read More</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-offset-6 pull-right" >
                <ul class="pagination pagination-sm   ">
                    <li class="active"><a href="#">1</a></li>
                    <li ><a href="all2.html">2</a></li>
                    <li><a href="all3.html">3</a></li>

                </ul>

            </div>
        </div>

    </div>

</div>






</body>
</html>